<!-- breaking news section starts -->
<div class="news_display_container">
    <div class="news_display_wrapper">
        <div class="news_display_wrapper_left_container">
            <div class="news_display_wrapper_table">
                <table datatable [dtOptions]="dtOptions" id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Top News</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_display_list_container">
                                    <div class="news_display_list_wrapper">
                                        <div class="news_display_list_wrapper_left">
                                            <img src="http://via.placeholder.com/200x150" alt="" class="news_display_list_wrapper_left_img">
                                        </div>
                                        <div class="news_display_list_wrapper_right">
                                            <div class="news_display_list_wrapper_right_info">
                                                <h3 class="news_display_list_wrapper_right_heading_title">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                                </h3>
                                                <span class="news_display_list_wrapper_left_date">Monday 14 September 2020</span>
                                                <p class="news_display_list_wrapper_right_para">
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                    It has survived not only five centuries,
                                                </p>
                                                <span>
                                                    <a href="news_view.html" class="news_display_list_wrapper_right_readmore">Read More</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>


            <div class="news_grid_container">
                <div class="news_grid_container_header">
                    <h3 class="news_grid_container_header_title">Special News</h3>
                    <span class="news_grid_container_header_more"><a href="news_list.html" class="">More +</a></span>
                </div>
                <div class="news_grid_wrapper">
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="news_display_wrapper_right_container">
            <div class="w90">
                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="" class="news_display_advert_img">
            </div>
            <div class="news_display_wrapper_right_wrap">
                <ul class="news_display_wrapper_right_wrap_listing">
                    <li>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_subject">Sports</a>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_knowmore">more +</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_subject">Diet & Nutrition</a>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_knowmore">more +</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_subject">Corona Update</a>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_knowmore">more +</a>
                    </li>
                </ul>
            </div>

            <!-- advertisement section starts -->                
            <div class="w90">
                <div class="news_ad_display_container">
                    <owl-carousel-o [options]="customOptions_news_list">
                            
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                    
                    </owl-carousel-o>
                    <div class="owl-carousel owl-carousel_advertisement owl-theme">
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- advertisement section ends -->
        </div>
    </div>
</div>
<!-- breaking news section ends -->