 <!-- state news section starts -->
 <div class="news_display_container">
    <div class="news_display_wrapper">
        <div class="news_display_wrapper_left_container">
            <div class="news_grid_container">
                <div class="news_grid_container_header">
                    <h3 class="news_grid_container_header_title">State Special</h3>
                    <span class="news_grid_container_header_more"><a href="news_list.html" class="">More +</a></span>
                </div>
                <div class="news_grid_wrapper">
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news_display_wrapper_right_container">

        </div>
    </div>
</div>
<!-- state news section ends -->