<!-- entertainment section starts -->
<div class="news_display_container">
    <div class="news_display_wrapper">
        <div class="news_display_wrapper_left_container">
            <div class="news_grid_container">
                <div class="news_grid_container_header">
                    <h3 class="news_grid_container_header_title">Entertainment</h3>
                    <span class="news_grid_container_header_more"><a href="news_list.html" class="">More +</a></span>
                </div>
                <div class="news_grid_wrapper">
                    <owl-carousel-o [options]="customOptions1"> 
                        <ng-template carouselSlide>
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </ng-template> 
                        <ng-template carouselSlide>
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </ng-template> 
                        <ng-template carouselSlide>
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </ng-template> 
                        <ng-template carouselSlide>
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </ng-template> 
                    </owl-carousel-o>



                    <div class="owl-carousel owl-theme owl-carousel_entertainment">
                        <div class="item">
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_grid_item w100">
                                <div class="news_grid_item_img">
                                    <img src="http://via.placeholder.com/400" alt="" srcset="">
                                </div>
                                <div class="news_grid_item_info">
                                    <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                                    <p class="news_grid_item_info_content">
                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                                    </p>
                                </div>
                                <div class="news_grid_item_wrap">
                                    <span class="news_grid_item_wrap_readmore"><a href="news_view.html">Read More</a></span>
                                    <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="news_display_wrapper_right_container">
            <!-- right side content if any -->
        </div>
    </div>
</div>
<!-- entertainment section ends -->