 <!-- breaking news section starts -->
 <div class="news_display_container">
    <div class="news_display_wrapper">
        <div class="news_display_wrapper_left_container">
            <div class="news_display_contact_container">
                <h3 class="contactus_title">Contact Us</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d482345.77916485467!2d72.63652688829539!3d19.180941047573015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d19.4139011!2d72.8171248!4m5!1s0x3be7d1c73a0d5cad%3A0xc70a25a7209c733c!2sgate%20way%20of%20india!3m2!1d18.9219841!2d72.8346543!5e0!3m2!1sen!2sin!4v1600001720494!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="news_display_contactus_wrapper">
                    <div class="news_display_contactus_grid_3">
                        <h3 class="contactus_sub_title">Address: </h3>
                        <p class="contactus_para">
                            Lorem Ipsum, simply dummy text, 400028.
                        </p>
                    </div>
                    <div class="news_display_contactus_grid_3">
                        <h3 class="contactus_sub_title">Email: </h3>
                        <ul class="contactus_listing">
                            <li><a href="javascript:void(0)">test@gmail.com</a></li>
                            <li><a href="javascript:void(0)">test@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="news_display_contactus_grid_3">
                        <h3 class="contactus_sub_title">Contact No: </h3>
                        <ul class="contactus_listing">
                            <li><a href="javascript:void(0)">9876543210</a></li>
                            <li><a href="javascript:void(0)">9876543210</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <form action="">
                        <div class="news_display_contactus_grid_2">
                            <input type="text" name="" id="fullname" placeholder="Your Full Name" class="news_input">
                            <input type="text" name="" id="contactno" placeholder="Contact Number" class="news_input">
                            <input type="text" name="" id="email" placeholder="Email ID" class="news_input">   
                            <input type="text" name="" id="subject" placeholder="Subject" class="news_input">   
                        </div>
                        <div class="news_display_contactus_grid_2">
                            <textarea name="" id="message" cols="50" rows="9" placeholder="Message" class="news_textarea"></textarea>                                    
                        </div>
                            <button class="news_submit_btn">submit</button>
                    </form>
                </div>
            </div>
            <div class="news_grid_container">
                <div class="news_grid_container_header">
                    <h3 class="news_grid_container_header_title">Special News</h3>
                    <span class="news_grid_container_header_more"><a href="javascript:void(0)" class="">More +</a></span>
                </div>
                <div class="news_grid_wrapper">
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="javascript:void(0)">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="javascript:void(0)">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                    <div class="news_grid_item">
                        <div class="news_grid_item_img">
                            <img src="http://via.placeholder.com/400" alt="" srcset="">
                        </div>
                        <div class="news_grid_item_info">
                            <h3 class="news_grid_item_info_title">Et et consectetur ipsum labore excepteur est proident</h3>
                            <p class="news_grid_item_info_content">
                                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                            </p>
                        </div>
                        <div class="news_grid_item_wrap">
                            <span class="news_grid_item_wrap_readmore"><a href="javascript:void(0)">Read More</a></span>
                            <span class="news_grid_item_wrap_bywhom">By: User Name</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news_display_wrapper_right_container">
            <div class="w90">
                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="" class="news_display_advert_img">
            </div>
            <div class="news_display_wrapper_right_wrap">
                <ul class="news_display_wrapper_right_wrap_listing">
                    <li>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_subject">Sports</a>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_knowmore">more +</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_subject">Diet & Nutrition</a>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_knowmore">more +</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_subject">Corona Update</a>
                        <a href="javascript:void(0)" class="news_display_wrapper_right_wrap_listing_knowmore">more +</a>
                    </li>
                </ul>
            </div>

            <!-- advertisement section starts -->                
            <div class="w90">
                <div class="news_ad_display_container">
                    <owl-carousel-o [options]="customOptions3">
                            
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                    
                    </owl-carousel-o>
                    <div class="owl-carousel owl-carousel_advertisement owl-theme">
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="news_advertise_slider_content">
                                <img src="assets/images/advertisement/ad.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- advertisement section ends -->
        </div>
    </div>
</div>
<!-- breaking news section ends -->