 
      
      

      <!-- news banner slider starts -->
      <app-news-banner-slider></app-news-banner-slider>
      <!-- news banner slider ends -->
      
      <!-- news tab display section starts -->
      <app-news-tab-display></app-news-tab-display>
      <!-- news tab display section ends -->

      <!-- breaking/special news section starts -->
      <app-breaking-news-section></app-breaking-news-section>
      <!-- breaking/special news section ends -->

      <!-- state news section starts -->
      <app-state-news-section></app-state-news-section>
      <!-- state news section ends -->

      <!-- entertainment section starts -->
      <app-entertainment-slider-section></app-entertainment-slider-section>
      <!-- entertainment section ends -->