  <!-- breaking news starts -->
  <div class="news_breaking_container">
    <h3>Breaking News</h3>
    <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="6">

        <div class="news_breaking_wrapper">
            <!-- Codes by HTMLcodes.ws -->
            <!-- <div class="news_breaking_marquee"> -->
                <!-- <div class="news_breaking_marquee_content"> -->
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="news_breaking_grid">
                        <a href="news_view.html">
                            <div class="news_breaking_listing">
                                <div class="news_breaking_listing_img_wrap">
                                    <img src="http://via.placeholder.com/200x100" alt="" class="news_breaking_listing_img">
                                </div>
                                <span class="news_breaking_listing_para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                </span>
                            </div>
                        </a>
                    </div>
                <!-- </div> -->
            <!-- </div>    -->
        </div>
    </marquee>
</div>
<!-- breaking news ends -->