  <!-- news slider starts -->
  <div class="news_slider_container">
    <div id="sync1" class="slider owl-carousel">
        <div class="item">
            <div class="news_slider_wrapper">
                <a href="news_view.html">
                    <img src="http://via.placeholder.com/1200x350" alt="" class="news_slider_img">
                    <div class="news_slider_content">
                        <h3>Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry.
                        </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="news_slider_wrapper">
                <a href="news_view.html">
                    <img src="http://via.placeholder.com/1200x350" alt="" class="news_slider_img">
                    <div class="news_slider_content">
                        <h3>Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry.
                        </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="news_slider_wrapper">
                <a href="news_view.html">
                    <img src="http://via.placeholder.com/1200x350" alt="" class="news_slider_img">
                    <div class="news_slider_content">
                        <h3>Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry.
                        </h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="news_slider_wrapper">
                <a href="news_view.html">
                    <img src="http://via.placeholder.com/1200x350" alt="" class="news_slider_img">
                    <div class="news_slider_content">
                        <h3>Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry.
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div id="sync2" class="navigation-thumbs owl-carousel">
        <div class="item">
            <div class="news_slider_thumb_container">
                <h2 class="news_slider_thumb_title">
                    Politics
                </h2>
                <h3>Lorem Ipsum is simply dummy text</h3>
                <ul class="menu_newsfeed_box_listing">
                    <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                    <li><i class="fa fa-comment"></i> <span>4</span></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="news_slider_thumb_container">
                <h2 class="news_slider_thumb_title">
                    Health
                </h2>
                <h3>Lorem Ipsum is simply dummy text</h3>
                <ul class="menu_newsfeed_box_listing">
                    <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                    <li><i class="fa fa-comment"></i> <span>4</span></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="news_slider_thumb_container">
                <h2 class="news_slider_thumb_title">
                    Crime
                </h2>
                <h3>Lorem Ipsum is simply dummy text</h3>
                <ul class="menu_newsfeed_box_listing">
                    <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                    <li><i class="fa fa-comment"></i> <span>4</span></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="news_slider_thumb_container">
                <h2 class="news_slider_thumb_title">
                    Entertainment
                </h2>
                <h3>Lorem Ipsum is simply dummy text</h3>
                <ul class="menu_newsfeed_box_listing">
                    <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                    <li><i class="fa fa-comment"></i> <span>4</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- news slider ends -->

