  <!-- news tab display section starts -->
        <div class="news_display_container">
            <div class="news_display_wrapper">
                <!-- news tab starts -->              
                    <div class="news_tab_display_container">
                        <div id="tabs">
                            <div class="">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mumbai</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sports</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Health</a>
                                        <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Entertainment</a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="news_tab_wrapper">
                                            <div class="news_tab_grid_box">
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="news_tab_grid_listing_container">
                                                <ul class="news_tab_grid_listing">
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <div class="news_tab_wrapper">
                                            <div class="news_tab_grid_box">
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="news_tab_grid_listing_container">
                                                <ul class="news_tab_grid_listing">
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <div class="news_tab_wrapper">
                                            <div class="news_tab_grid_box">
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="news_tab_grid_listing_container">
                                                <ul class="news_tab_grid_listing">
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                        <div class="news_tab_wrapper">
                                            <div class="news_tab_grid_box">
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                                <div class="news_tab_grid">
                                                    <img src="http://via.placeholder.com/200x180" alt="" srcset="" class="news_tab_grid_img">
                                                    <ul class="menu_newsfeed_box_listing">
                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                        <li><i class="fa fa-comment"></i> <span>4</span></li>
                                                    </ul>
                                                    <h3>Et et consectetur ipsum labore excepteur est proident excepteur</h3>
                                                    <p>
                                                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
                                                        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure 
                                                        adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. 
                                                        Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation 
                                                        mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco 
                                                        ad duis occaecat ex.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="news_tab_grid_listing_container">
                                                <ul class="news_tab_grid_listing">
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news_view.html">
                                                            <div class="news_tab_grid_listing_wrapper">
                                                                <div class="news_tab_grid_listing_wrapper_img">
                                                                    <img src="http://via.placeholder.com/50" alt="">
                                                                </div>
                                                                <div class="news_tab_grid_listing_wrapper_info">
                                                                    <h3>Et et consectetur ipsum labore excepteur est</h3>
                                                                    <ul class="menu_newsfeed_box_listing">
                                                                        <li><i class="fa fa-clock-o"></i> <span>August 19, 2020</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                        <!-- ./Tabs -->
                    </div>              
                <!-- news tab ends -->

                <!-- advertisement section starts -->                
                    <div class="news_ad_display_right">

                        <div class="news_ad_display_container">

                        <owl-carousel-o [options]="customOptions">
                            
                            <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                            <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                            <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                            <ng-template carouselSlide><img src="../assets/images/advertisement/ad.jpg"></ng-template> 
                        
                        </owl-carousel-o>

                            <div class="owl-carousel owl-carousel_advertisement owl-theme">
                                <div class="item">
                                    <div class="news_advertise_slider_content">
                                        <img src="../assets/images/advertisement/ad.jpg" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="news_advertise_slider_content">
                                        <img src="../assets/images/advertisement/ad.jpg" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="news_advertise_slider_content">
                                        <img src="../assets/images/advertisement/ad.jpg" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="news_advertise_slider_content">
                                        <img src="../assets/images/advertisement/ad.jpg" alt="" srcset="">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div> 
                    </div>             
                <!-- advertisement section ends -->
            </div>
        </div>
      <!-- news tab display section ends -->